{% extends 'layout.html' %}
{% block title %}Registrar Entrega{% endblock %}
{% block content %}
<div class="max-w-xl mx-auto bg-slate-950 border border-slate-800 rounded-2xl p-6">
    <h1 class="text-xl font-bold text-white mb-4">Entrega de Equipo (Profesor)</h1>
    <form action="{{ url_for('vista_profesor') }}" method="POST" class="space-y-4">
        <div><label class="text-xs font-semibold text-slate-300">N° Inventario</label><input type="text" name="inventario" placeholder="Ej: TEC-001" required class="w-full bg-slate-900 border border-slate-700 rounded-xl px-4 py-2 text-white font-mono uppercase"></div>
        <div><label class="text-xs font-semibold text-slate-300">Marca y Modelo</label><input type="text" name="marca_modelo" placeholder="Ej: Dell Latitude" required class="w-full bg-slate-900 border border-slate-700 rounded-xl px-4 py-2 text-white"></div>
        <div><label class="text-xs font-semibold text-slate-300">Nombre Estudiante</label><input type="text" name="estudiante" required class="w-full bg-slate-900 border border-slate-700 rounded-xl px-4 py-2 text-white"></div>
        <div><label class="text-xs font-semibold text-slate-300">Grupo</label>
            <select name="grupo" class="w-full bg-slate-900 border border-slate-700 rounded-xl px-4 py-2 text-white">
                <option value="Grupo A">Grupo A</option>
                <option value="Grupo B">Grupo B</option>
            </select>
        </div>
        <div class="flex gap-4"><label class="text-sm"><input type="checkbox" name="cargador" value="Sí" checked> Incluye Cargador</label><label class="text-sm"><input type="checkbox" name="caja" value="Sí" checked> Entregado en Caja</label></div>
        <div><label class="text-xs font-semibold text-slate-300">Estado Físico Inicial</label><textarea name="estado_inicial" rows="2" class="w-full bg-slate-900 border border-slate-700 rounded-xl px-4 py-2 text-white text-sm">Excelente estado.</textarea></div>
        <button type="submit" class="w-full bg-blue-600 hover:bg-blue-500 text-white font-semibold py-2.5 rounded-xl">Guardar y Entregar</button>
    </form>
</div>
{% endblock %}
